<div class="container">
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <%= link_to 'New Idea', new_user_idea_path, class: 'btn btn-default' %>
    </div>
    <h2>All Ideas</h2>
  </div>
</div>

<% @ideas.each do |idea| %>
  <%= link_to idea.title, user_idea_path(@user, idea) %>
<% end %>