<h2>ALL IDEAS  </h2>

<%# if current_user && !current_admin? %>
  <%= content_tag :div, class: 'col-md-12 text-center' %>
    <p class="lead">
      do something
    </p>
<%# end %>
<%#= link_to 'New Idea', new_user_idea_path, class: 'btn btn-default' %>
<% @ideas.each do |idea| %>
  <%=  %>
<% end %>